body {
	background-color: steelblue;
}


label {
	font-size: 1.15em;
}

.header {
	background-color: lightgrey;
	/*background-url: url("../images/audi.jpeg");*/
	padding: 1%;
	/*border: 3px solid #777;*/
	text-align: center;
}

.instructions {
	padding: 0;
	margin: 1% 0%;
}

#user-input {
	width: 100%;
}

.car-gif {
	padding: 0.75%;
	display: inline;
	margin: 1%;
}

.search {
	border-left: 1px solid #555;
	margin-bottom: auto;
}


#submit {
	display: inline;
	margin: 2% 0;
}

#gif{
	display: inline;
}

.showGif{
	display: inline;
	float: left;
	margin-left: 2%;
}

p {
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;
	right: 1%;
	text-align: center;
}
